:root {
    --darkgray: #282a36;
    --medgray: #44475a;
    --light: #f8f8f2;
    --cyan: #8be9fd;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--medgray);
    color: var(--light);
}

header {
    background-color: var(--darkgray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#headerLinks {
    display: flex;
    gap: 3ch;
}

#headerLinks > li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    text-shadow: 4px 4px 16px var(--cyan);
}

.container {
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: center;
    background-color: var(--darkgray);
    border-radius: 16px;
}

main {
    display: flex;
    gap: 1em;
}

h1 {
    padding: 0.5em;
    border-bottom: 8px groove var(--cyan);
    text-align: center;
}

.box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#optionBox {
    min-height: 50vh;
    flex-grow: 1;
}

#characterBox {
    min-height: 50vh;
    flex-grow: 3;
    gap: 1em;
}

.characterElement {
    align-self: stretch;
    text-align: center;
}

button {
    padding: .75em;
    background-color: var(--cyan);
    color: var(--darkgray);
    border: 4px solid var(--medgray);
    border-radius: 16px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 200px var(--cyan);
}